body {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 220px;
}
header {
  background-color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float:left;
 
}
  

footer {
  background-color: black;
}
 main {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 250;
  margin-left: 100; 
}

div {
margin-top: 30px;
margin-bottom: 30px;
}
